# /lib/systemd/system/vpn.service
# systemctl enable vpn.service

[Unit]
Description=vpn docker container
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/docker/vpn 
ExecStart=/usr/local/bin/docker-compose up
ExecStartPost=/docker/vpn/attach_nic

ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target