# /lib/systemd/system/sonarr.service
# systemctl enable sonarr.service

[Unit]
Description=sonarr docker container
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/x/.config/docker/sonarr
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target