# /lib/systemd/system/hydra.service
# systemctl enable hydra.service

[Unit]
Description=hydra docker container
Requires=docker.service island.service
After=docker.service island.service sonarr.service

[Service]
WorkingDirectory=/x/.config/docker/hydra
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
